.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f3f2ef;
}
.app__body {
  display: flex;
  max-width: 1200px;
  /* width: 100%; */
  margin-top: 35px;
  margin-left: 20px;
  margin-right: 20px;
}
